{% extends 'base.html.twig' %}

{% block title %}Livraison{% endblock %}

{% block body %}
    <h2>Livraison </h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date de Livraison</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livraison in livraisons %}
            <tr>
                <td>{{ livraison.id }}</td>
                <td>{{ livraison.dateLiv ? livraison.dateLiv|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('livraison_show', {'id': livraison.id}) }}" class="btn btn-info">show</a>
                    <a href="{{ path('livraison_edit', {'id': livraison.id}) }}" class="btn btn-danger">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('livraison_new') }}" class="btn btn-warning">Ajouter une nouvelle livraison </a>
{% endblock %}
