{% extends 'base.html.twig' %}

{% block title %}Caisse{% endblock %}

{% block body %}
    <h1>Caisse</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ caisse.id }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ caisse.Montant }}</td>
            </tr>
            <tr>
                <th>DateModif</th>
                <td>{{ caisse.dateModif ? caisse.dateModif|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Motif</th>
                <td>{{ caisse.Motif }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('caisse_index') }}  class="btn btn-warning">back to list</a><br>

    <a href="{{ path('caisse_edit', {'id': caisse.id}) }}  class="btn btn-info">Modifier</a>

    {{ include('caisse/_delete_form.html.twig') }}
{% endblock %}
