{% extends 'base.html.twig' %}

{% block title %}Paiment{% endblock %}

{% block body %}
    <h1>Paiment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ paiment.id }}</td>
            </tr>
            <tr>
                <th>Date de paiement</th>
                <td>{{ paiment.datepai ? paiment.datepai|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Mantant Restant</th>
                <td>{{ paiment.mantantRest }}</td>
            </tr>
            <tr>
                <th>Montant payé</th>
                <td>{{ paiment.montantpay }}</td>
            </tr>
            <th>Paiement</th>
            <td>{{ paiment.factures.paiment }}</td>
            </tr>
            
        </tbody>
    </table>

    <a href="{{ path('paiment_index') }}" class="btn btn-warning">Revenir à la liste des paiements</a><br>

    <a href="{{ path('paiment_edit', {'id': paiment.id}) }}" class="btn btn-info">Modifier</a>

    {{ include('paiment/_delete_form.html.twig') }}
{% endblock %}
